body {
    background-color: rgb(228, 205, 205);
}

h1 {
    background-color: bisque;
    font-weight: 500;
    border: 1px solid black;
    text-align: center;
    padding: 0;
    width: 20%;
}

.headers {
    background-color: azure;
}

#website-header {
    background-color: rgb(75, 108, 136);
    margin: 0 auto;
}

.wrapper {
    text-align: center;
}

#image-list {
    display: flex;
}
